*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
*.bak_0*
Documentation/~$quirments.docx
*.lck
ReimaginedGuacamole/nbproject/private/private.xml
/ReimaginedGuacamole/nbproject/private/
ReimaginedGuacamole/.jacocoverage/
/ReimaginedGuacamole/.jacocoverage/
/ReimaginedGuacamoleMS/nbproject/private/
ReimaginedGuacamoleMS/.jacocoverage/
/ReimaginedGuacamoleMS/.jacocoverage/